@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@1,200&family=Poppins:ital,wght@1,500&family=Imbue:wght@300&display=swap');

*{
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Montserrat','san serif';
    overflow: hidden;
}

.nav{
    background-color: black;
}
.logo{
    font-size: 2.5rem;
    text-decoration: none;
    color: whitesmoke;
    font-family: 'Imbue','san serif';
}
#map{
    height: 100vh;
    width:100vw;
}
.container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding:5px;
    align-items: center;
}
.list{
    display:flex;
    flex-direction: row;
    align-items: center;
}
.list li{
    list-style-type: none;
    font-size: 1.5rem;
    margin-right: 10px;
    padding:5px;
}
.links{
    text-decoration: none;
    color: whitesmoke;
}
.form{
    position: absolute;
    z-index: 1;
    margin-left: 30px;
}
.card{
    z-index: 1;
    position: absolute;
    top: 150px;
    width: 30%;
    margin-left: 30px;
    visibility: hidden;
    font-family: 'Poppins','san serif' ;
}
.details{
    font-family: 'Poppins','san serif' ;
}
.fas, .far{
    margin-right: 10px;
}
#fly {
    display: block;
    position: relative;
    margin: 0px auto;
    width: 50%;
    height: 40px;
    padding: 10px;
    border: none;
    border-radius: 3px;
    font-size: 12px;
    text-align: center;
    color: #fff;
    background: #ee8a65;
    }
.fa.smog{
    color: blue;
}
.fa-clock{
    color: coral;
}
.fa-temperature-low{
    color:red;
}
.fa-thermometer-full{
   color: teal; 
}